<!DOCTYPE html>
{% load static %}
<html lang="ua">
<head>
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" href="static/css/style.css"> -->
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <title>ERP-системи</title>
</head>
<body>
  <main>
    <div class='title'>
      <h1>ERP-системи</h1>
      <p>Що таке ERP, і з чим його їдять?</p>
    </div>
    <article class='zmist black'>
      <h1> Зміст </h1>
      <ul>
        <li>
          <a href="#1">Що це таке -- ERP-система?</a>
        </li>
        <li>
          <a href="#2">Види та типи ERP-систем</a>
        </li>
        <li>
          <a href="#3">Особливості впровадження ERP-систем у ВНЗ</a>
        </li>
        <li>
          <a href="#4">SaaS як проста і гнучка модель ERP-системи</a>
        </li>
        <li class='black'>
          <a href="#5">Джерела</a>
        </li>
      </ul>
    </article>
    <article id='1'>
      <h1> Що це таке -- ERP-система? </h1>
      <p>
        Абревіатура ERP використовується для позначення комплексних систем управління підприємством. Ключовий термін ERP є підприємство, і тільки потім — планування ресурсів. Дійсне призначення ERP — в інтеграції всіх відділів і функцій компанії в єдиний інформаційний простір завдяки комп'ютерній мережі, що зможе обслужити всі специфічні потреби окремих підрозділів. Крім того, для ERP-систем, практично, обов'язковою є наявність можливості електронного обміну даними з іншими застосуваннями, а також моделювання ситуацій, пов'язаних з плануванням і прогнозуванням.
      </p>
      <p>
        Також, до основних функцій ERP-систем належать:
      </p>
      <ul>
        <li>
          ведення конструкторських і технологічних специфікацій, що визначають склад виробів, а також матеріальні ресурси й операції, необхідні для його виготовлення;
        </li>
        <li>
          формування планів продажу і виробництва;
        </li>
        <li>
          планування потреб у матеріалах і комплектуючих, термінів і обсягів постачань для виконання плану виробництва продукції;
        </li>
        <li>
          управління запасами і закупівлями: ведення договорів, реалізація централізованих закупівель, забезпечення обліку та оптимізації складських і цехових запасів;
        </li>
        <li>
          планування виробничих потужностей від укрупненого планування до використання окремих верстатів і устаткування;
        </li>
        <li>
          оперативне управління фінансами, включаючи складання фінансового плану і здійснення контролю за його виконанням, фінансовий та управлінський облік;
        </li>
        <li>
          управління проектами, включаючи планування етапів і ресурсів, необхідних для їх реалізації.
        </li>
      </ul>
      <p>
        Типова ERP-система включає керування та автоматизацію такими бізнес-процесами:
      </p>
      <ul>
        <li>
            виробництво;
        </li>
        <li>
            постачання і збут;
        </li>
        <li>
            управління запасами;
        </li>
        <li>
            післяпродажне обслуговування виробленої продукції;
        </li>
        <li>
            управління кадрами та їх найм;
        </li>
        <li>
            наукові дослідження і конструкторські розробки;
        </li>
        <li>
            розподіл фінансів.
        </li>
      </ul>
      <img src="{% static 'main/img/image1.jpg' %}" alt="Будова ERP-системи" id='aa' />
      <p>
          Рис.1. Умовна схема внутрішньої будови типової ERP-системи
      </p>
      <p>
          Тобто, така система управління повинна реалізовувати просте керування всіма внутрішніми процесами підприємства, або установи, в якій проведена інтеграція.
      </p>
      <p>
          Зокрема, система керування ресурсами підприємства ERP повинна здійснювати автоматизацію якомога більшої кількості процесів усередині установи та спрощувати зв’язок між різними видами внутрішньої діяльності цієї установи та перехід від одного виду до іншого (від виробництва товару до його збуту, і так далі).
      </p>
      <p>
          Таким чином, після проведення інтеграції ERP-системи у підприємство, підвищується ефективність праці як індивідуальних працівників, так і цілих підрозділів останнього за рахунок автоматизації певних рутин та надавання можливості працівникам концентруватись на поставленому завданні, а не способі його оформлення і т.д. Гарним прикладом цьому послужить складання звіту - продвинута ERP-система повинна надавати шаблон звіту з полями для введення інформації, та функціонал для автоматичного пошуку цієї інформації по базам даних підприємства. Таким чином, час, витрачений на таку роботу, буде скорочений в рази. Згідно із статистичними даними за 2015 рік провайдера послуг по впровадженню ERP-систем, компанії Panorama Consulting, у відношенні до 2014 року на 2% збільшилась доля проектів, по яким був перевищений бюджет, і на 18% (!) знизилась частка проектів, які не були виконані у поставлений срок. Вигода використання ERP-систем очевидна.
      </p>
    </article>
    <article id='2'>
      <h1>Види та типи ERP-систем</h1>
      <p>
          В цілому, призначення у ERP систем завжди одне - оптимізація використання ресурсів підприємства. Однак різні програмні пакети і орієнтовані по-різному, тож ERP прийнято класифікувати за призначенням:
      </p>
      <ul>
        <li>
            галузеві ERP ефективно впроваджувати в двох випадках. Перший: якщо необхідно управління дійсно великою компанією. Інша ситуація: сформовані бізнес процеси у вашому підприємстві є і практики інших областей не застосовні;
        </li>
        <li>
            ERP загального призначення більш поширені, так як роблять акцент не на специфіці галузі, а на характеристиках бізнесу. Ефективні інструменти в такому випадку адаптуються саме під компанію.
        </li>
      </ul>
      <p>
          Класифікація за типом організації:
      </p>
      <ul>
        <li>
            Приватні ERP встановлюються на спеціально орендовані / придбані обчислювальні потужності. Дані при цьому ізольовані, а програму можна допрацьовувати за бажанням. Однак, такі системи складно використовувати в організаціях з територіально-розподіленою структурою. В першу чергу це торгові, транспортні компанії, страховики, банки, розробники ПЗ, інтернет-бізнеси, і т.д. Для точних обчислень необхідно мати потужні сервери в усіх віддалених точках, а також кваліфікований, а отже, високооплачуваний ІТ-персонал на місцях.
        </li>
        <li>
            Існують також EPR з термінальним доступом до серверу з базами даних. Але і тут необхідний додатковий сервер, причому досить потужний, так як при великому числі віддалених робочих місць і різноманітності задіяних користувачами додатків вимоги до організації роботи на ньому будуть досить високі. Крім того, потрібна недешева система віртуалізації.
        </li>
        <li>
            Web ERP рішення з єдиною базою даних, яка знаходиться основному сервері. Крім того, не потрібно наявності кваліфікованих фахівцях у всіх віддалених точках. Навіть не потрібно оновлювати версії додатків на кожному робочому місці, тому що доступ здійснюється через звичайний браузер. Проте такі системи не забезпечують повної конфіденційності даних.
        </li>
      </ul>
      <p>
          Класифікація за типом ліцензії:
      </p>
      <ul>
        <li>
            Пропрієтарна ERP - закритий програмний продукт, оплатити який Вам доведеться, незважаючи на його недосконалість. Перевагами таких систем зазвичай вважається висока ступінь їх завершеності.
        </li>
        <li>
            OpenSource ERP - системи з відкритим вихідним кодом, користуватися яким можна безкоштовно. Як правило, такі програми вимагають більш кваліфікованих спеціалістів для налаштування. Вони дають можливість внесення будь-яких змін. Платити потрібно лише за конкретні послуги провадження в організацію та доопрацювання, а не за непотрібний функціонал.
        </li>
      </ul>
      <p>
          Приклади ERP-систем:
      </p>
      <ul>
        <li>
            <b>Назва:</b> MS Dynamics ERP<br>
            <b>Сайт:</b> <a href=http://www.microsoft.com/ru-ru/dynamics/erp.aspx>http://www.microsoft.com/ru-ru/dynamics/erp.aspx</a> <br>
            <b>Опис:</b> Багатофункціональна ERP система від Microsoft для середніх і великих компаній. Охоплює всі галузі менеджменту: виробництво та дистрибуцію, ланцюжки поставок і проекти, фінанси та засоби бізнес-аналізу, взаємовідносини з клієнтами та персоналом. Надає портал для web-доступу на базі Windows Sharepoint Services.
        </li>
        <li>
            <b>Назва:</b> ERP-система IT-Enterprise <br>
            <b>Сайт:</b> <a href="https://www.it.ua/ru/erp-system-it-enterprise">https://www.it.ua/ru/erp-system-it-enterprise</a>  <br>
            <b>Опис:</b> ERP система від українського розробника орієнтована на автоматизацію багатьох сфер діяльності підприємства: оптимізація діяльності підприємства і реінжиніринг бізнес-процесів, оперативний контроль фінансового стану підприємства та ін. Розміщується система в дата-центрі сервіс-провайдера De Novo. Хмарна версія IT-Enterprise знімає з Замовника турботи і витрати про розміщення і підтримці в робочому стані корпоративної системи управління підприємством, а також знімає необхідність в початкових капіталовкладеннях. Компанія обіцяє високий рівень надійності, безпеки і масштабованості системи. Доступ до хмарної версії IT-Enterprise здійснюється за допомогою клієнта, що встановлюється на комп'ютери користувачів.
        </li>
        <li>
            <b>Назва:</b> CRM/ERP система OneBox <br>
            <b>Сайт:</b> <a href="https://crm-onebox.com/ru"> https://crm-onebox.com/ru</a>  <br>
            <b>Опис:</b> Дана система більш орієнтована на керування взаємодії з клієнтами, взаємодію між співробітниками та відділами компанії. Також система надає такий функціонал: обробка цін від постачальників в автоматичному режимі, слідкування та автоматизація роботи складського обліку, створення баз даних клієнтів, слідкування за доходами, витратами.
        </li>
        <li>
            <b>Назва:</b> Назва: 1С:ERP <br>
            <b>Сайт:</b> <a href="http://v8.1c.ru/erp/ ">http://v8.1c.ru/erp/ </a>  <br>
            <b>Опис:</b> Універсальна ERP від 1С для великих компаній, призначена для керування ресурсами підприємств.
        </li>
      </ul>
    </article>
    <article id='3'>
      <h1>Особливості впровадження ERP-систем у ВНЗ</h1>
      <p>
          Очевидно, що впровадження системи ERP необхідно як мінімум для отримання тих чи інших звітів (тобто оперативної інформації), а найкращий варіант-для підвищення відкритості та прозорості процесів, що відбуваються в вузі, отримання інструменту для прийняття керівництвом стратегічних рішень, що в кінцевому підсумку позначиться на підвищенні продуктивності праці підрозділів, знизить кількість помилок в роботі і т.д.
      </p>
      <p>
          Основні переваги використання ERP- систем в сфері освіти:
      </p>
      <ul>
        <li>
            оптимізація бізнес-процесів університетів і коледжів;
        </li>
        <li>
            поліпшення доступу до точної і своєчасної інформації;
        </li>
        <li>
            поліпшення інтеграції різних програмних продуктів в роботі навчальних закладів;
        </li>
        <li>
            підвищення ефективності академічних процесів;
        </li>
        <li>
            підвищення контролю над реалізацією адміністративних, фінансових та господарських процесів.
        </li>
      </ul>
      <p>
          На світовому ринку існує кілька основних варіантів ERP- систем для сфери вищої освіти: Oracle, SCT, PeopleSoft, SAP, Jenzabar і Datatel. Рішення цих компаній охоплюють більшість головних функцій систем ERP (управління освітнім процесом, управління людськими ресурсами та фінансами). Переваги окремих рішень можуть бути помічені в різних областях.
      </p>
      <p>
          PeopleSoft підкреслюють роль Інтернету і веб-технологій (досягнення віртуальної організації через портали), SAP виступає "за" системи ERP, зосереджені на користувачів (студентська частина, яка орієнтується студентом, і т.д.), Oracle поєднав Інтернет і операції допоміжного офісу в пакеті EBusiness.
      </p>
      <p>
          У будь-якому державному вузі головним фактором при виборі ERP помилково ставиться вартість програмного забезпечення, і про це прекрасно знають його розробники, тому всіляко намагаються приховати реальну суму, яку доведеться викласти НЗ за покупку і впровадження системи.
      </p>
      <p>
          При виборі системи обов'язково вимагайте демо-доступ до неї, для того щоб спробувати самим відобразити в системі один або кілька бізнес-процесів, наприклад, оцінити зручність ведення приймальної кампанії і відповідність системи правилам прийому, створення навчальних груп, переведення студента з очної форми на заочну, оформлення конкретного наказу, виписки з нього, щомісяця необхідного звіту і т.д. Не соромтеся просити продовження демо-періоду, якщо він обмежений постачальником, це в ваших інтересах. Якщо на даному етапі ви зіткнетеся з проблемами, які вам здаються непереборними і ви не знайдете очевидного рішення в інструкціях - не соромно буде попросити потенційного продавця показати вам, як цю проблему можна вирішити, і вирішити прямо зараз, онлайн.
      </p>
      <p>
          На етапі вибору системи звертайте особливу увагу на документацію, причому як на технічну (по налаштуванню і адміністрування), так і на призначену для користувача. Весь функціонал системи повинен бути детально описаний в манах. Не варто всерйоз сприймати продукт, у якого версія системи, описана в керівництві користувача, не збігається в поточною версією ПЗ. Не ведіться на документацію, в якій відображені тільки скріни-інтерфейси програми, а їх описи містять приблизно наступне: "при натисканні на кнопку видалити студента відбувається видалення студента".
      </p>
      <p>
          Якщо ви бачите у виробника подібний підхід до призначених для користувача інструкцій - готуйте гроші на нескінченні навчання, тренінги, семінари / вебінари, консультації та інше. Не вірте в обіцянки "просто зараз ми готуємо нову версію керівництва користувача" - повірте - ніхто нічого "просто зараз" не готує.
      </p>
      <p>
          Після встановлення ПЗ починається найскладніший і трудомісткий етап – впровадження. З цього дня керівництво щодня чекатиме результатів.
      </p>
      <p>
          Перший міф, який слід розвіяти в голові керівництва вузу, і чим раніше, тим краще - "ERP-система, яку ми купимо, готова до роботи відразу після інсталяції на сервер вузу". Будь-яке готове рішення - це конструктор з певним запасом можливостей і цей конструктор не працює з коробки, що не буде він друкувати всі необхідні вам форми, не заповнить самостійно базу студентів, не довантажить плани по навчанню. Грамотно реалізувати ці можливості - і є правильно побудований процес впровадження.
      </p>
      <p>
          Купуючи систему важливо визначитися - як (а головне - за чий рахунок) буде відбуватися процес впровадження. Варіантів всього два:
      </p>
      <ul>
        <li>
            перший -- вуз самостійно впроваджує продукт, консультуючись з розробником системи;
        </li>
        <li>
            другий  - розробник надає вузу платні послуги з впровадження системи.
        </li>
      </ul>
      <p>
          Для успішного впровадження необхідні:
      </p>
      <ul>
        <li>
            Наявність чіткого поетапного плану впровадження. Персонал повинен бути добре підготовлений до переходу на нове системне рішення.
        </li>
        <li>
            Потрібен і професійний інтерес співробітників до того, що буде засобом збільшення його продуктивності праці, його ефективності.
        </li>
        <li>
            Впроваджувана система повинна стати для співробітників «своєю», інакше відторгнення неминуче. Для цього, перш за все, необхідно приділити увагу попередній роботі з персоналом, підвищивши рівень порядку, організації, інформаційної культури та відповідальності співробітників на кожному робочому місці.
        </li>
        <li>
            На період впровадження виникає потреба паралельної роботи, як в новій системі, так і в колишньої. Це необхідно для безперебійної підтримки роботи освітнього закладу на той випадок якщо нова система дасть збій.
        </li>
        <li>
            Дуже важливо гарантувати зворотній зв'язок з боку користувачів для того, щоб оцінити, як система задовольняє потребам підрозділів і установи в цілому.
        </li>
      </ul>
    </article>
    <article id='4'>
      <h1>SaaS як проста і гнучка модель ERP-системи</h1>
      <p>
          SaaS (Software as a Service – програмне забезпечення як послуга) – це модель надання ліцензії на програмне забезпечення за підпискою. По суті, SaaS-сервіс це єдине програмне ядро, яке надається в користування клієнтам. Доступ до системи вони отримують через мережу і можуть змінювати налаштування на свій розсуд. Обслуговуванням сервісу цілком займається провайдер послуги, а користувач тільки працює в ній.
      </p>
      <p>
          Переваги SaaS:
      </p>
      <ul>
        <li>
            Кожен клієнт SaaS-сервісу може у будь-який момент звернутися до технічної підтримки, а також отримувати регулярні оновлення.
        </li>
        <li>
            Можливість віддаленого доступу до сервісу.
        </li>
        <li>
            Відсутня необхідність встановлювати ПЗ окремо на кожний комп’ютер, достатньо мати доступ до інтернету.
        </li>
        <li>
            Деякі сервіси неможливо реалізувати на власному сервері компанії через високі початкові затрати, дороге ПЗ, складний та тривалий процес впровадження, тому доречно використати технологію SaaS.
            Системи ERP останнім часом також повільно переходять до моделі SaaS. Проблема полягає в тому, що системи планування достатньо громіздкі та складні для повноцінної реалізації в хмарі, тому standalone версії є більш «повними», а тому й затребуваними. Також у підприємців виникає питання стосовно безпеки даних у SaaS ERP проектах.
        </li>
      </ul>
      <p>
          Порівняння SaaS ERP систем з класичними:
      </p>
      <ul>
        <li>
            Простота. Загалом, SaaS простіше використовувати та впроваджувати з технічної точки зору. Оскільки не потрібно купувати додаткові сервери або фізично встановлювати програмне забезпечення, це може бути простим і швидким засобом розгортання програмного забезпечення. Але з іншого боку, високий рівень технічної «невимушеності» може створити додаткові бізнес складнощі, які не відчуються в традиційному ERP.
        </li>
        <li>
            Гнучкість та контроль. Так як класична ERP встановлена на власних серверах, вона більш захищена від зловмисників, її можна налаштовувати під свої потреби, інтегрувати з іншим програмним забезпеченням тощо. Хоча будь-які програмні засоби ERP дозволяють налаштовувати систему необхідним чином, все ж таки SaaS, як правило, менш гнучка, ніж традиційна ERP. Хмарну систему не можна повністю налаштувати або переписати під себе. Це має й іншу сторону, оскільки SaaS не можна гнучко налаштовувати, це знижує деякі технічні труднощі, пов'язані з налагодженням та зміною програмного забезпечення.
        </li>
        <li>
            Доступність. Оскільки SaaS повністю доступна через інтернет, питання безпеки стоїть досить гостро. В свою ж чергу, традиційна ERP не вимагає інтернет-надійності, якщо працівники отримують доступ до програмного забезпечення через мережу компанії.
        </li>
        <li>
            Вартість. SaaS можна розгорнути з набагато меншими початковими витратами, що може бути потенційно вигідним для малих компаній.
        </li>
      </ul>
      <img src="{% static 'main/img/image2.jpg' %}" alt="Порівняльна характеристика ERP-модулів">
      <p>
          Рис.2. Порівняльна характеристика ERP-модулів
      </p>
      <p>
          Однак довготривале використання хмарної системи буде дорожчим за придбання традиційної. У міру зростання підприємства і додавання співробітників у систему, використання хмарного сервісу може стати достатньо дорогим, навіть порівняно з її класичним аналогом.
      </p>
      <p>
          Загалом, можна сказати, що SaaS ERP найбільш вигідна саме малим та середнім компаніям, які не здатні повністю взяти на себе впровадження та утримання традиційної системи. Великі підприємства, які мають складну структуру та постійно розвиваються, потребують більшої гнучкості у налаштуванні та безпеки даних. Саме тому для гігантів ринку доречно використовувати ERP на власних серверах.
      </p>
    </article>
    <article id='5' class='black'>
      <h1>Джерела</h1>
      <p>
        <ol>
          <li>
            <a href="http://www.clouderp.ru/tags/erp/">http://www.clouderp.ru/tags/erp/</a>
          </li>
          <li>
            <a href="http://www.clouderp.ru/tags/erp/">http://www.clouderp.ru/tags/erp/</a> <br>
            <a href="http://www.livebusiness.com.ua/tools/erp/ ">http://www.livebusiness.com.ua/tools/erp/ </a>
          </li>
          <li>
            <a href="https://habr.com/post/200892/">https://habr.com/post/200892/ </a>
          </li>
          <li>
            <a href="https://www.panorama-consulting.com/saas-vs-traditional-erp-five-key-differentiators/">https://www.panorama-consulting.com/saas-vs-traditional-erp-five-key-differentiators/</a> <br>
            <a href="https://habr.com/company/trinion/blog/333018/">https://habr.com/company/trinion/blog/333018/</a> <br>
            <a href="https://blog.ringostat.com/ru/chto-takoe-saas-i-kak-eto-rabotaet/">https://blog.ringostat.com/ru/chto-takoe-saas-i-kak-eto-rabotaet/</a> <br>
            <a href="https://www.gadgetstyle.com.ua/30496-saas-erp-systems-solutions/">https://www.gadgetstyle.com.ua/30496-saas-erp-systems-solutions/</a> <br>
            <a href="https://ru.wikipedia.org/wiki/Программное_обеспечение_как_услуга">https://ru.wikipedia.org/wiki/Программное_обеспечение_как_услуга</a>
          </li>
        </ol>
      </p>
    </article>
  </main>
  <a id='toTheTop' href="#"> <img src="{% static 'main/img/next.png' %}" alt="Вверх  "> </a>
</body>
</html>
